.stage  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  gap: 5rem;
}

.container_gallery {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}

.container_gallery > li {
  width: 200px;
  height: 200px;
  font-family: "Anton", serif;
  background-color: var(--color-title-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* Estilos base para o container de loading */
.loading {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  color: white;
  background-image: radial-gradient(#ffffff00, #1b1e42);
}

/* Texto de Loading */
.loading-text {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Anton", serif;
  color: var(--color-hard-gray);
  text-transform: uppercase;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 4px solid rgba(75, 75, 75, 0);
  border-top-color: var(--color-title-primary);
  border-radius: 50%;
  animation: spin 1s infinite linear;
  margin-bottom: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}