.stage  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  gap: 5rem;
}

.container_gallery {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}

.container_gallery > li {
  width: 200px;
  height: 200px;
  font-family: "Anton", serif;
  background-color: var(--color-title-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.mobile-warning {
  background-image: url(../src/assets/texture/black_texture.png);
  color: var(--color-text-primary);
  width: 60vw;
  border-radius: 1rem;
  padding: 4rem;
}

.mobile-warning > h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}